@import '../../SassPartials/colors';

.projects {
	color: $dkgrey;
  min-height: 100vh;
  background-color: $dkgreen;
  background-image: repeating-linear-gradient(
    change-color($color: $ltgreen, $alpha: 0.1),
    change-color($color: $ltgreen, $alpha: 0.1),
    transparent 1px, transparent 4px);
  padding: 50px 10px 50px 10px;
}

.projFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	font-size: 2em;
  padding-bottom: 20px;
  text-align: center;
}

.content {
	font-size: 1.5em;
}
