@import '../../SassPartials/colors';


.section {
  min-height: 100vh;
  max-width: 75%;
	margin: 0px auto;
	padding-top: 25vh;
}
.grid {
  background: none;
  padding: 0px;
  display: grid;
	grid-template:
		"greet greet photo ."
    "greet greet name ."
    ". tagline tagline tagline";
  grid-gap: 5px;

  span {
    display: inline-block;
    text-align: center;
  }
}
.name {
  font-size: 45px;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  grid-area: name;
  align-self: end;

  background: $ltgrey;
  color: $dkgrey;
}
.photo {
	grid-area: photo;
	width: 250px;
	height: 250px;
  background-color: $mdgrey;
  background-position: center;
  background-size: cover;
}
.greeting {
  font-size: 200px;
  grid-area: greet;
  align-self: end;

  background: $ltgreen;
  color: $dkgrey;
}
.tagline {
  padding: 10px 0px;
  font-weight: bold;
  font-size: 20px;
  grid-area: tagline;
  align-self: start;

  background: $dkgreen;
  color: $dkgrey;
}

// re-arrange welcome section
@media only screen and (max-width: 775px){
  .section {
    padding-top: 10vh;
  }
  .grid {
    grid-template:
      "."
      "greet"
      "photo"
      "name"
      "tagline";
    grid-template-rows: .25fr auto .25fr auto auto;
    align-content: center;
  }
  .greeting {
    font-size: 120px;
  }
  .name {
    font-size: 30px;
  }
	.tagline {
    font-size: 15px;
  }
	.photo {
		justify-self: center;
	}
}
