.label {
  padding: 5px 7px;
  margin: 2px;
  border-radius: 3px;
  font-size: 0.75em;
  background-color: #aaa;
  color: #333;
  align-self: center;
}

button.label {
  border-width: 0;
  font-family: inherit;
}
button.label:hover, button.label:focus {
 box-shadow: inset 0px 0px 5px #333;
}