.popup {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.popup-label{
    cursor:pointer;
}

.popup-content {
    background-color: $dkgrey;
    border: 1px solid $ltgrey;
    padding: 5px 15px 5px 5px;
    border-radius: 4px;
    z-index: 100;
    font-size: 14px;
}