$ltgreen: hsla(154, 41%, 73%, .75);
$ltblue: hsla(214, 41%, 73%, .75);

#inline-content * {
 box-sizing: border-box;
 scrollbar-width: thin;
}
#inline-content {
  position: relative;
}
#inline-content h1 span {
 font-size: 125px;
 position: absolute;
 top: -25px;
}
#md {
 left: 0px;
 font-family: Courier, monospace;
}
#previewer {
 font-family: "Satisfy", cursive;
 right: 5px;
}

#container {
 position: absolute;
 top: 0;
 padding:0;
 height: 100%;
 width: 100%;
 display: grid;
 grid-template-areas: "editor preview";
 grid-template-columns: auto 1fr;
}
#editor {
 grid-area: editor;
 height: 100%;
 width: 50vw;
 padding: 90px 10px 10px 10px;
 margin: 0;
 border: none;
 background-color: $ltgreen;
 resize: horizontal;
}
#preview {
 grid-area: preview;
 background-color: $ltblue;
 width: 100%;
 height: 100%;
 padding: 90px 10px 10px 10px;
 overflow-y: scroll;
 overflow-x: hidden;
}
#preview img {
 max-width: 45vw;
 height: auto;
}