$dkgreen: #61892F;
$ltgreen: #86C232;
$dkgrey: #222629;
$mdgrey: #474B4F;
$ltgrey: #6B6E70;

body {
  background-color: $dkgrey;
  color: $ltgreen;
  font-family: monospace;
  font-size: 14px;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
article {
  background-color: $dkgrey;
  background-image: repeating-linear-gradient(hsla(204, 2%, 43%, .1),	hsla(204, 2%, 43%,.1) 1px, transparent 1px, transparent 4px);
}
h2{
  position: absolute;
  z-index: -20;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0 20px 7px 20px;
  width: 100vw;

  background-color: hsla(206, 9%, 15%, .8);

  ul {
    list-style: none;
    display: flex;

    padding: 0px;
    margin: 0px;
  }
  li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    background: $dkgrey;
    color: $ltgreen;
    padding: 10px 20px;
    margin-right: 7px;
    border-right: 2px solid $ltgreen;
    border-left: 2px solid $ltgreen;
    border-bottom: 2px solid $ltgreen;
  }
  a:hover, a:focus {
    background-color: $dkgreen;
    color: white;
    box-shadow: inset 1px 1px 5px $dkgrey;
  }
}
#a-welcome {
  color:white;
  font-weight:bold;
}

#welcome-section {
  box-sizing: border-box;
  height: 100vh;
  width: 75%;
  margin: 0px auto;
}
#welcome-grid {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template:
    "greet greet name ."
    ". tagline tagline tagline";
  grid-gap: 5px;

  span {
    display: inline-block;
    text-align: center;
  }
}
#name {
  font-size: 45px;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  grid-area: name;
  align-self: end;

  background: $ltgrey;
  color: $dkgrey;
}
#greeting {
  font-size: 20vh;
  grid-area: greet;
  align-self: end;

  background: $ltgreen;
  color: $dkgrey;
}
#tagline {
  padding: 10px 0px;
  font-weight: bold;
  font-size: 20px;
  grid-area: tagline;
  align-self: start;

  background: $dkgreen;
  color: $dkgrey;
}

#projects {
  min-height: 100vh;
  background-color: $dkgreen;
  background-image: repeating-linear-gradient(hsla(85, 59%, 48%, .1),	hsla(85, 59%, 48%,.1) 1px, transparent 1px, transparent 4px);
  padding: 50px 10px 10px 10px;
}
.proj-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    border-radius: 50%;
  }
}
.project-tile {
  background-position: center;
  background-size: auto 300px;
  background-repeat: no-repeat;
  background-color: hsla(204, 2%, 43%, .6);
  width: 300px;
  height: 300px;
  margin: 8px;
  border: 10px solid $dkgrey;
  border-radius: 50%;
  box-shadow: 1px 1px 3px $mdgrey;
  z-index: 0;
  text-align: center;
  vertical-align: center;

  span {
    display: inline-block;
    width: 280px;
    margin: 80% auto auto auto;
    padding: 10px;
    font-weight: bold;
    background-color: $dkgrey;
    color: $ltgreen;
  }
}
.project-tile:hover {
  border-radius: 10px;
}

footer {
  padding: 15px 10px;
  height: auto;

  a {
    display: inline-block;
    margin: 5px 10px;
    text-decoration: none;
    color: $ltgreen;
  }
  a::before {
    content: "{ ";
  }
  a::after {
    content: " }";
  }
}

// re-arrange welcome section
@media only screen and (max-width: 650px){
  #welcome-grid {
    grid-template:
      "."
      "greet"
      "."
      "name"
      "tagline";
    grid-template-rows: .25fr auto .25fr auto auto;
    align-content: center;
  }
}

// Adjust Navbar 
@media only screen and (max-width: 500px){
  #navbar {
    border-bottom: 1px solid $dkgreen;
    width: 100vh;
    height: 25px;
    right: 100vw;
    transform: rotate(-90deg);
    transform-origin: 100% 0;

    ul {
      width: 100%;
      flex-flow: row-reverse nowrap;
      justify-items: flex-end;
    }
    a {
      position: relative;
      top: -5px;
    }
    a:hover, a:focus {
      padding-top: 20px;
    }
  }

  #projects, #skills {
    padding-left: 30px;
  }
  footer {
    padding-left: 30px;
  }
}

// Re-size welcome section text 
@media only screen and (max-width: 380px){
  #name {
    font-size: 30px;
  }
  #tagline {
    font-size: 10px;
  }
}