@import './SassPartials/colors';
@import './SassPartials/nav';
@import './SassPartials/projects';
@import './SassPartials/welcome';
@import './SassPartials/footer';
@import './SassPartials/viewInternal';
@import './SassPartials/popup';

* {
  box-sizing: border-box;
}
body {
  background-color: $dkgrey;
  color: $ltgreen;
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 14px;
  margin: 0px;
}
#portfolio-article {
  background-color: $dkgrey;
  background-image: repeating-linear-gradient(
    change-color($color: $ltgrey, $alpha: 0.1),	
    change-color($color: $ltgrey, $alpha: 0.1) 1px, 
    transparent 1px, transparent 4px);
}

.hidden {
  position: absolute;
  z-index: -20;
}

// Adjust Navbar 
@media only screen and (max-width: 500px){
  #navbar {
    border-bottom: 1px solid $dkgreen;
    width: 100vh;
    height: 25px;
    right: 100vw;
    transform: rotate(-90deg);
    transform-origin: 100% 0;

    ul {
      width: 100%;
      flex-flow: row-reverse nowrap;
      justify-items: flex-end;
    }
    a {
      position: relative;
      top: -5px;
    }
    a:hover, a:focus {
      padding-top: 20px;
    }
  }

  #projects, #skills {
    padding-left: 30px;
  }
  footer {
    padding-left: 30px;
  }
}