@import './SassPartials/colors';
@import './SassPartials/nav';

* {
  box-sizing: border-box;
}
body {
  background-color: $dkgrey;
  color: $ltgreen;
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 14px;
  margin: 0px;
}
#portfolio-article {
  background-color: $dkgrey;
  background-image: repeating-linear-gradient(
    change-color($color: $ltgrey, $alpha: 0.1),	
    change-color($color: $ltgrey, $alpha: 0.1) 1px, 
    transparent 1px, transparent 4px);
}

.hidden {
  position: absolute;
  z-index: -20;
}
