@import '../../SassPartials/colors';

.link {
	text-decoration-style: dotted;
}

.light {
	color: $ltgrey;
}
.light:hover,
.light:focus {
	color: $ltgreen;
}

.dark {
	color: $mdgrey;
}
.dark:hover,
.dark:focus {
	color: $dkgrey;
}
